body {
  margin: 0 auto;
  max-width: 1800px; }

.header {
  min-height: 900px;
  background-image: url("http://i68.tinypic.com/24weijp.png");
  background-position: center;
  background-size: cover; }
  .header .navbar {
    padding: 40px 50px 20px 30px; }
    .header .navbar li {
      line-height: 50px;
      margin-left: 15px; }
      .header .navbar li a {
        text-transform: uppercase;
        color: #ecf0f1;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 3px;
        font-family: "Lato"; }
      .header .navbar li .menu {
        transition: 0.3s ease;
        text-decoration: none;
        background-color: transparent; }
        .header .navbar li .menu:hover {
          border-bottom: 3px solid #ecf0f1;
          border-top: 3px solid #ecf0f1;
          background-color: transparent;
          font-size: 16px; }
    .header .navbar .navbar-brand {
      padding: 10px 30px; }
    .header .navbar .navbar-toggle {
      border: 2px solid #ecf0f1;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: transparent; }
    .header .navbar .icon-bar {
      background-color: #ecf0f1;
      width: 30px;
      height: 5px; }

.green-features {
  min-height: 1250px;
  margin-top: -20px;
  background-color: #a2ca28;
  padding: 0px 150px; }
  .green-features .features {
    padding: 100px 0px; }
    .green-features .features img {
      height: 40px;
      margin: 20px auto; }
    .green-features .features h2 {
      font-family: "Open Sans";
      font-size: 22px;
      color: white; }
    .green-features .features p {
      font-family: "Open Sans";
      font-size: 14px;
      color: white;
      line-height: 20px;
      padding: 20px 3px; }
    .green-features .features a {
      text-decoration: none;
      color: white;
      font-family: "Open Sans";
      font-size: 14px; }
      .green-features .features a .arrow {
        padding-left: 10px; }
      .green-features .features a:hover {
        background-color: #27ae60;
        padding: 7px;
        border-radius: 10px; }
        .green-features .features a:hover .arrow {
          animation-name: arrowMove;
          animation-duration: 2s; }

@keyframes arrowMove {
  from {
    padding-left: 10px; }
  to {
    padding-left: 70px; } }
  .green-features .features-up-grid .left-up {
    background-color: white;
    min-height: 400px;
    padding: 20px 5px; }
    .green-features .features-up-grid .left-up h3 {
      font-size: 16px;
      color: #fd634e;
      text-transform: uppercase;
      font-family: "Open Sans";
      font-weight: bold;
      letter-spacing: 2px; }
    .green-features .features-up-grid .left-up h1 {
      font-size: 28px;
      color: #a2ca28;
      text-transform: uppercase;
      font-family: "Open Sans";
      letter-spacing: 2px; }
    .green-features .features-up-grid .left-up img {
      margin: 10px; }
    .green-features .features-up-grid .left-up p {
      font-size: 13px;
      font-weight: bold;
      font-family: "Open Sans";
      padding: 5px;
      line-height: 25px; }
    .green-features .features-up-grid .left-up a {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      font-family: "Open Sans";
      color: #a2ca28;
      letter-spacing: 1px; }
      .green-features .features-up-grid .left-up a:hover {
        border-bottom: 2px dotted #a2ca28; }
  .green-features .features-up-grid .right-up {
    min-height: 400px;
    background-image: url("http://i65.tinypic.com/35cj31z.png");
    background-position: center;
    background-size: cover; }
    .green-features .features-up-grid .right-up .right-up-text {
      position: absolute;
      bottom: 50px;
      right: 20px; }
      .green-features .features-up-grid .right-up .right-up-text p {
        display: inline;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: bold;
        color: #f7614c; }
      .green-features .features-up-grid .right-up .right-up-text .number {
        color: white; }
      .green-features .features-up-grid .right-up .right-up-text img {
        display: inline;
        margin-left: 10px; }

@media (max-width: 1200px) {
  .green-features {
    padding: 0px 70px; } }

@media (max-width: 1007px) {
  .green-features .features .training p {
    padding: 0px 3px 20px 3px; } }

@media (max-width: 992px) {
  .header {
    background-size: 150% 100%; }
    .header .navbar {
      padding: 30px 5px; }
      .header .navbar li {
        margin-left: 0px; }
        .header .navbar li a {
          letter-spacing: 2px;
          font-size: 14px; }
      .header .navbar .navbar-brand {
        padding: 10px 3px; }
  .green-features {
    padding: 0 90px; }
    .green-features .features {
      padding: 0 90px; }
      .green-features .features .training p {
        padding: 20px 3px; } }

@media (max-width: 767px) {
  .header .navbar {
    padding: 20px 100px; }
  .header .navbar-collapse {
    border-top: solid 1px #ecf0f1; }
    .header .navbar-collapse li a {
      font-size: 24px;
      font-weight: bold; }
    .header .navbar-collapse li .menu {
      transition: 0s;
      line-height: 30px; }
      .header .navbar-collapse li .menu:hover {
        border-bottom: 2px solid #ecf0f1;
        border-top: 2px solid #ecf0f1;
        font-size: 24px; } }

@media (max-width: 520px) {
  .header {
    background-size: 180% 100%; }
    .header .navbar {
      padding: 20px 20px; }
  .green-features {
    padding: 0 50px; } }

/*# sourceMappingURL=main.css.map */